In [ ]:
#Diabetes

In [50]:
from sklearn import metrics
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [51]:
import pandas as pd
data=pd.read_csv('diabetes.csv')

In [52]:
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [59]:
x=data[['Glucose','BloodPressure','SkinThickness','Insulin','BMI']]
y=data['Outcome']

In [60]:
x.head(5)

   Glucose  BloodPressure  SkinThickness  Insulin   BMI
0      148             72             35        0  33.6
1       85             66             29        0  26.6
2      183             64              0        0  23.3
3       89             66             23       94  28.1
4      137             40             35      168  43.1

In [61]:
y.head(5)

0    1
1    0
2    1
3    0
4    1
Name: Outcome, dtype: int64

In [66]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=0)

In [72]:
from sklearn.linear_model import LogisticRegression
logreg=LogisticRegression()
logreg.fit(x_train,y_train)
y_pred=logreg.predict(x_test)

In [73]:
x_train

     Glucose  BloodPressure  SkinThickness  Insulin   BMI
729      168             88             29        0  35.0
263      181             84             21      192  35.9
374      116              0              0        0  23.5
170      108             66              0        0  32.4
187      151             90             38        0  29.7
..       ...            ...            ...      ...   ...
763      126             86             27      120  27.4
192      104             74             18      156  29.9
629      124             74             36        0  27.8
559       86             66             52       65  41.3
684      120             80             48      200  38.9

[596 rows x 5 columns]

In [74]:
logreg.predict([[156,90,20,120,40]])

C:\Users\Bull\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([1], dtype=int64)

In [78]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

In [79]:
results=confusion_matrix(y_test,y_pred)
print(results)

[[103  27]
 [ 22  47]]

In [80]:
print('accuracy score',accuracy_score(y_test,y_pred))

accuracy score 0.7537688442211056